[Unit]
Description=An Answer to your Wayland Wallpaper Woes
Documentation=man:awww-daemon(1)
PartOf=wm-session.target
After=wm-session.target
Requisite=wm-session.target

[Service]
Type=simple
ExecStart=/usr/bin/awww-daemon
Restart=on-failure

[Install]
WantedBy=wm-session.target
