[Unit]
Description=Dynamic output configuration for Wayland compositors
Documentation=man:kanshi(1)
BindsTo=wm-session.target

[Service]
Type=simple
ExecStart=/usr/bin/kanshi

[Install]
WantedBy=wm-session.target
